@model IEnumerable<AuthorViewModel>;
<section class="bounce animated article-clean">
    <div class="container">
        <section class="team-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" style="font-family: Cairo, sans-serif;">ناشرونا</h2>
                </div>
                <div class="row people">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" style="width: 160px; height: 160px;" src="~/img//UsersImages/@Html.DisplayFor(model=>item.PictureUrl)">
                                <h3 class="name">@item.FullName</h3>
                                <p class="title">@item.UserName</p>
                                <p class="description">@item.Bio </p>
                                <div class="social"><a href="@item.FaceBookLink"><i class="fa fa-facebook-official"></i></a><a href="@item.XSiteLink"><i class="fa fa-twitter"></i></a><a href="@item.InstegramLink"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    }
                </div>
                <nav class="text-center float-end" style="font-family: Lato, sans-serif;border-color: var(--bs-red);margin: 10px;">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { pageIndex = page }),
                             new X.PagedList.Mvc.Core.PagedListRenderOptions
                    {
                        DisplayItemSliceAndTotal = false,
                        ContainerDivClasses = new[] { "navigation" },
                        MaximumPageNumbersToDisplay = 5,
                        UlElementClasses = new[] { "pagination justify-content-center" },
                        LiElementClasses = new[] { "page-item" },
                        PageClasses = new[] { "page-link" },

                    })
                </nav>
            </div>

        </section>
    </div>
</section>